.c-heading {
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;

  &--level1 {
    color: $header-text;
    font-family: $font-family-2;
    font-size: $font-size-3;
    line-height: 110%;
    margin-bottom: $grid-base * 2;

    @include tablet {
      font-size: $font-size-2;
      margin-bottom: $grid-base * 2.4;
    }

    @include desktop {
      font-size: $font-size-1;
      margin-bottom: $grid-base * 1.6;
      text-align: left;
    }
  }
}
