.c-list {
  &__unstyled {
    list-style-type: none;
    text-decoration: none;
    padding: unset;
  }

  &__item {
    text-align: center;
    margin-bottom: $grid-base;

    @include tablet {
      text-align: left;
    }

    &--mobile {
      margin-bottom: $grid-base * 4;
      text-align: center;
    }
  }
}
