.u-flex-start {
  align-items: flex-start; //wyrównanie do góry
}

.u-flex-start--content {
  justify-content: flex-start;

  &-tablet {
    @include tablet {
      justify-content: flex-start;
    }
  }

  &-desktop {
    @include desktop {
      justify-content: flex-start;
    }
  }
}

.u-flex-end {
  justify-content: flex-end; //wyrównanie do prawej
}

.u-flex-space-between {
  justify-content: space-between; //wyrównuje element jeden do prawej drugi do lewej strony
}

.u-flex-center {
  justify-content: center;
}

.u-flex-stretch {
  align-items: stretch; //wyrównuje wysokość elementów
}

.u-flex-grow {
  &--1 {
    flex-grow: 1; //np proporcjonlana maksymalna szerokośc kolumny x1  x2 itd
  }

  &--2 {
    flex-grow: 2;
  }
}

.u-flex-direction {
  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }

  &-tablet {
    &--column {
      @include tablet {
        flex-direction: column;
      }
    }

    &--row {
      @include tablet {
        flex-direction: row;
      }
    }
  }

  &-desktop {
    &--column {
      @include desktop {
        flex-direction: column;
      }
    }

    &--row {
      @include desktop {
        flex-direction: row;
      }
    }
  }
}

.u-flex-flow--wrap {
  flex-flow: wrap;

  &-tb {
    @include tablet {
      flex-flow: wrap;
    }
  }

  &-dt {
    @include desktop {
      flex-flow: wrap;
    }
  }
}

.u-flex-column-wrap {
  flex-flow: column wrap;

  &-desktop {
    @include desktop {
      flex-flow: column wrap;
    }
  }
}
.u-flex-order {
  &--1 {
    order: 1;
    flex: 1 0 100%;
  }
  &--2 {
    order: 2;
    flex: 1 0 100%;
  }
  &--3 {
    order: 3;
    flex: 1 0 100%;
  }

  &-dt {
    @include desktop {
      &--1 {
        order: 1;
        flex: 1 0 50%;
      }
      &--2 {
        order: 2;
        flex: 1 0 50%;
      }
      &--3 {
        order: 3;
        flex: 1 0 100%;
      }
    }
  }
}

.active {
  order: -1;
  flex: 1 0 100%;
}
