.u-mb-1 {
  margin-bottom: $grid-base;
}

.u-mb-2 {
  margin-bottom: $grid-base * 2;
}

.u-mb-3 {
  margin-bottom: $grid-base * 3;
}

.u-mb-5 {
  margin-bottom: $grid-base * 5;
}

.u-mt-0 {
  margin-top: 0;

  @include tablet {
    &--tb {
      margin-top: 0;
    }
  }
}
.u-mt-1 {
  margin-top: $grid-base;
}

.u-mt-2 {
  margin-top: $grid-base * 2;
}

.u-mt-3 {
  margin-top: $grid-base * 3;
}

.u-pr-0 {
  padding-right: 0;

  @include tablet {
    &--tb {
      padding-right: 0;
    }
  }
}

.u-pr-1 {
  padding-right: $grid-base;

  @include tablet {
    &--tb {
      padding-right: $grid-base;
    }
  }
}
.u-pr-2 {
  padding-right: $grid-base * 2;
  @include tablet {
    &--tb {
      padding-right: $grid-base * 2;
    }
  }
}
.u-pr-3 {
  padding-right: $grid-base * 3;

  @include tablet {
    &--tb {
      padding-right: $grid-base * 3;
    }
  }
}

.u-pr-10 {
  padding-right: $grid-base * 10;
}

.u-pl-10 {
  padding-left: $grid-base * 10;
  @include tablet {
    &--tb {
      padding-left: $grid-base * 10;
    }
  }
}

.u-padding-0 {
  padding: 0;

  @include tablet {
    &--tb {
      padding: 0;
    }
  }
}
.u-lsc {
  letter-spacing: $letter-spacing-condensed;
}

.u-ls-1 {
  letter-spacing: $letter-spacing-1;
}
