.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-left {
  text-align: left;
}

.u-text-dt-center {
  @include desktop {
    text-align: center;
  }
}

.u-text-dt-left {
  @include desktop {
    text-align: left;
  }
}

.u-text-tb-left {
  @include tablet {
    text-align: left;
  }
}

//.u-text-top {
// text-align: top;
//}

//.u-text-lg-right {
//@include large-up {
//  text-align: right !important;
// }
//}
.u-text-uppercase {
  text-transform: uppercase;
}
