.t-intro {
  &__text {
    text-align: center;
    padding-bottom: $grid-base * 2;
  }

  p {
    font-family: $font-family-1;
    font-size: $font-size-7;
    font-weight: 300;
    text-align: center;
    line-height: 150%;

    @include tablet {
      font-size: $font-size-6;
    }
    @include desktop {
      font-size: $font-size-6;
      text-align: left;
    }
  }

  img {
    display: block;
    margin-top: $grid-base * 3;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 80%;

    @include desktop {
      margin-top: none;
      margin-right: 0;
    }
  }
}
