.t-main {
  background-color: $header-text;
  margin-top: $grid-base * 6;
  margin-bottom: $grid-base * 4.5;
  padding-top: $grid-base * 4.5;
  padding-bottom: $grid-base * 6.5;
  position: relative;

  @include tablet {
    margin-top: $grid-base * 9;
    margin-bottom: $grid-base * 5.5;
    padding-top: $grid-base * 9.6;
    padding-bottom: $grid-base * 8.8;
  }

  @include desktop {
    margin-top: $grid-base * 17;
    margin-bottom: $grid-base * 10;
    padding-top: $grid-base * 7;
    padding-bottom: $grid-base * 10.5;
  }

  &__img {
    margin-bottom: $grid-base * 1.6;
  }

  p {
    font-size: $font-size-8;
    line-height: $grid-base * 2.4;

    @include tablet {
      font-size: $font-size-7;
      line-height: $grid-base * 3;
    }
  }
}
