.t-site-header {
  //display: inline;
  padding-top: $gutter;
  padding-bottom: $gutter;

  &__desktop-menu--right {
    @include desktop {
      display: none;
    }
  }
  &__desktop-menu {
    display: none;
    @include desktop {
      display: inline-flex;
      align-items: center;
      text-decoration: none;

      a {
        text-decoration: none;
        &:hover {
          color: $text;
          text-decoration: underline 3px $primary solid;
          border-radius: 10%;
        }
      }
    }
  }
}

.menu {
  display: none;
}

.menu.isVisible {
  display: block;
}
