.o-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
  max-width: 100%;

  @include tablet {
    max-width: 696px;
  }

  @include desktop {
    max-width: 1040px;
  }
}
