.o-row {
  @include tablet {
    display: flex;
    margin-left: -$gutter;
    margin-right: -$gutter;

    &--center-y {
      align-items: center;
    }

    &--gutter-0 {
      margin-left: $gutter * 0;
      margin-right: $gutter * 0;
    }
  }

  &__constant {
    display: flex;
    margin-left: -$gutter;
    margin-right: -$gutter;
  }
}
